@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.footer {
  text-align: center;
}

.container-about {
  text-align: center;
}

.about-img {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
  text-align: center;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.about-p {
  text-align: center;
  padding: 3rem 11rem;
}

.navbar {
  background-color: white;
}

.main-header {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

small-head {
  text-align: justify;
}